.wellminheight{
    min-height: 135px;
}

#lvhead, #selectallincomings, #selectnewincomings{
    cursor: pointer;
}

#lvs{
    display: none;
}

#syncbtn{
    font-size: 16px;
}

.fhc-ajaxclient-veil .veil-text
{
    font-size: 33px;
    width: 210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 56%;
    color: grey;
}

#incomingstbl
{
    border: 1px solid #ddd;
}

#incomings
{
    width: 80%;
    margin: auto;
}

#noincomingstext
{
    margin-bottom: 5px;
}

.inactive
{
    color: grey;
}
