.wellminheight {
    min-height: 135px;
}

#lvhead, #selectallincomings, #selectnewincomings {
    cursor: pointer;
}

#lvs {
    display: none;
}

#syncbtn {
    font-size: 16px;
}

/*center veil*/
.fhc-ajaxclient-veil .veil-text {
    font-size: 33px;
    width: 210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 56%;
    color: grey;
}

#incomingstbl, #incomingprestudentstbl {
    border: 1px solid #ddd;
}

#incomings {
    width: 80%;
    margin: auto;
}

#noincomingstext {
    margin-bottom: 5px;
}

.inactive {
    color: grey;
}

table.table-vertical-center td,th {
    vertical-align: middle !important;
}

/*center student data table on course assignment page*/
#lvsprestudent {
    width: 85%;
    margin-left: 10%;
    margin-right: 10%;
}

.prestudentfieldname {
    background-color: #f5f5f5;
    width: 15%;
}

.prestudentfieldvalue {
    width: 25%;
}

#molvstbl {
   margin-top: 0;
}

.fhclvpanel {
    margin-left: 10%;
    /*margin-right: 10%;*/
    padding: 5px;
}

.fhclvpanelheading {
    padding: 5px 10px;
}

.nowrap {
    white-space: nowrap;
}
